ipykernel
numpy
matplotlib
pandas
sphinxcontrib-bibtex
sphinxcontrib-svg2pdfconverter
sphinx-book-theme
ipywidgets
sphinx-autoapi
sphinx-copybutton
sphinx-gallery
jupytext
sphinx-last-updated-by-git
recommonmark
dask==2.22.0
fire==0.3.1
funcy==1.14
ipython==7.17.0
lxml==4.5.2
motuclient==1.8.4
netCDF4==1.5.4
scipy==1.5.2
toolz==0.10.0
xarray==0.16.0